
* {
    background-color: rgb(230, 250, 250);
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.encabezado {
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.navegacion, nav {
    background-color: lightblue;
    margin: 0px;
    padding: 2px 25px;
    border: 10px;
}

header, h1 {
    background-color: teal;
    border: 1px teal;
    padding: 5px 5px 5px 5px;
    font-weight: 700;
}

.contacto {
    width: 25%;
    float: left;
    padding: 15px;
}

#fotografia, #InfoPersonal{
    text-align: center;
}

#listainfo{
    list-style: none;
    padding-left: 60px;
}

li {
    padding: 10px;
}


.contenido {
    width: 75%;
    float: left;
    padding: 15px;
}

.descripcion {
    color: black;
    width: 75%;
}

.titulo1 {
    padding-top: 25px;
    font-weight: 700;
}

.titulo2 {
    padding-top: 20px;
    width: 75%;
}

#ultimorenglon {
    padding-bottom: 80px;
}

.pie {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: lightblue;
    padding: 10px;
}

.col {
    background-color: lightblue;
    display: flex;
}

.botones {
    margin: auto;
    padding: 2, 10;
    background-color: rgb(200, 200, 200);
    font-size: x-large;
    
}

#telefono {
    padding: 2, 20;
}

#foot {
    font-size: xx-large;
    background-color:  lightblue;
    font-weight: bold;
    color: darkblue;

}

.enlace {
    margin: auto;
    padding: 10;
    background-color:  lightblue;
    font-weight: bold;
}

.logos {
    background-color:  lightblue;
}